{% extends 'static_base.html' %}
{% load static %}
{% block 'header' %}
{% endblock %}

{% block 'content' %}
<div class="container mt-5">
    <h1>Welcome, {{ user.first_name }}!</h1>
    <div class="row">
        <p>Welcome to your profile page.</p>
        <div class="col-md-4">
            <h2>Datos Personales</h2>
            <p><strong>Nombre:</strong> {{ user.first_name }}</p>
            <p><strong>Apellido:</strong> {{ user.last_name }}</p>
            <p><strong>Correo Electrónico:</strong> {{ user.email }}</p>
        </div>

        <div class="col-md-4">
            <h2>Reseñas Creadas</h2>
            <ul class="list-group">
                {% for review in user.reviews.all %}
                    <li class="list-group-item">
                        <strong>{{ review.book.title }}</strong>
                        <p>{{ review.content }}</p>
                        <p>Rating: {{ review.rating }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Autores Seguidos</h2>
            <ul class="list-group">
                {% for author in user.followed_authors.all %}
                    <li class="list-group-item">
                        <strong>{{ author.first_name }} {{ author.last_name }}</strong>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <a href="{% url 'book_creation' %}" class="btn btn-primary">Add New Book</a>
        </div>
    </div>
</div>
{% endblock %}
